/* Header Background Color & Background Texture Image */
/* (Using a class here to avoid conflict with the tweet article header)*/
.main-header {
  background-color: darkcyan;
  background-image: url("/images/subtle-grunge.png");
  height: 520px;
  width: 100%;
}

/* Styling profile photo & profile name */
.profilePic {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
}

.profileName {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.lightFont {
  font-weight: 300;
}